<% if alert || notice %>
  <% color = alert ? 'rgba(255, 99, 71, 0.8)' : 'rgba(144, 238, 144, 0.8)' %>
  <div class="position-fixed top-0 start-50 translate-middle-x m-4 z-30">
    <div class="alert w-200 h-25 shadow-lg rounded px-2 py-2 position-relative" style="background-color: <%= color %>;">
      <div class="p-2">
        <div class="flex items-start">
          <div class="ml-3 w-100 flex-1 pt-1">
            <p class="text-md font-weight-medium text-white">
              <%= alert || notice %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
