<footer class="bg-dark text-light p-4 mb-0">
    <div class="container">
        <div class="row">
        <div class="col-md-4">
            <h5>Información</h5>
            <ul class="list-unstyled">
            <li><a class="link-light link-underline-opacity-0 link-underline-opacity-50-hover" href="#">Cómo comprar</a></li>
            <li><a class="link-light link-underline-opacity-0 link-underline-opacity-50-hover" href="#">Envíos y devoluciones</a></li>
            <li><a class="link-light link-underline-opacity-0 link-underline-opacity-50-hover" href="#">Términos y condiciones</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Sobre Nosotros</h5>
            <p>Web dedicada a la venta online de entradas para distintos tipos de eventos...</p>
        </div>
        <div class="col-md-4">
            <h5>Contacto</h5>
            <address>
            <strong>Dirección:</strong><br>
            123 Calle Principal<br>
            Ciudad, País<br>
            <strong>Email:</strong> info@tusentradas.com<br>
            <strong>Teléfono:</strong> +666 777 888
            </address>
        </div>
        </div>
    </div>
</footer>