<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <h2>Próximos eventos</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
      <%= render partial: 'tickets' %>
    </div>
  </div>
</div>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <h2>Eventos pasados</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
      <%= render partial: 'past_tickets' %>
    </div>
  </div>
</div>