<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="flex overflow-x-scroll gap-2 my-4">
      <%= render(CategoryComponent.with_collection(@categories)) %>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
      <%= render partial: 'event', collection: @events %>
    </div>
  </div>
</div>

