@import "bootstrap";

body{
  background-color: #f5f5f5;
}
.event-form {
  max-width: 642px;
  width: 100%;
  margin: auto;
}

.event-form .form-header {
  text-align: center;
  margin-bottom: 25px;
}

.event-form .form-header h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.event-form>form {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 3px;
}

.event-form .form-group {
  position: relative;
  margin-bottom: 15px;
}

.event-form .form-control {
  background-color: #f5f5f5;
  border: none;
  height: 45px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  color: #000000;
}
.event-form .form-label {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  text-transform: uppercase;
}

.event-form .form-control::placeholder {
  color: #1011134C;
}

.event-form .btn,
.session-form .btn {
  background-color: #f5f5f5;
}

.event-form .btn:hover,
.session-form .btn:hover {
  color: black;
  background-color: #bebebe;
}
